.training-background{
    /* The image used */
    background-image: url("app/Images/hd1.jpg");
    /* Set a specific height */
    height: 200px; 

}

.parallax { 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-green { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.content-section{
    height: 300px
}
